<style>
    .containers{
        background:black;
        width:100vw;
        height:100vh;
        position:relative;
        padding:90px;
        cursor:none;
    }

    .player{
        width:25px;
        height:25px;
        background:red;
        border-radius:50%;
        position:absolute;
    }

    .dot{
        width:15px;
        height:15px;
        background:white;
        border-radius: 50%;
        position: absolute;
    }
</style>

<div class="containers">
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/joguin.js"></script>